@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Discount";
}

<div class="chart-container" style="text-align: center;">
    <h2>Biểu đồ thống kê Giảm giá</h2>
    <!-- Hiển thị hình ảnh biểu đồ -->
    <img src="~/img/statistical/discount.jpg" alt="Biểu đồ Giám giá" style="max-width: 1000px; height: auto; margin: 50px 0;">

    <center> <a asp-action="Index" class="btn btn-primary btn-lg px-4 py-2 rounded-pill shadow">Quay lại</a></center>
</div>